extends ../layout

block content
  h1= title
  p This is where the course list will go.  We have #{courses.length} courses.
  ul
  each course in courses
    li
        a(href='/courses/#{course.id}') #{course.prefix} #{course.title}
  br
  a(href='/courses/add-form') Add a course
